python-dotenv
langchain
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
Chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
ipywidgets
langchain_chroma
beautifulsoup4